.Sidebar {
    height: calc(100vh - var(--navbar-height));
    width: var(--sidebar-width);
    background: var(--inverted-bg-color);
    position: relative;
    transition: width 0.3s;
}

.switchers {
    position: absolute;
    bottom: 29px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.lang {
    margin-left: 20px;
}

.collapseBtn {
    position: absolute;
    right: -32px;
    bottom: 32px;
}

.items {
    margin: 20px 0 0 30px;
    display: flex;
    flex-direction: column;
}

.collapsed {
    width: var(--sidebar-width-collapsed);

    .switchers {
        flex-direction: column;
        align-items: center;
    }

    .lang {
        margin-left: 0;
    }
}
